@use 'sass:map';
@use 'sass:list';

$breakpoints: (
  'large': 1240px,
  'medium': 905px,
  'small': 0px,
);
$columns: (
  'large': 12,
  'medium': 8,
  'small': 4,
);
$default-margin: (
  'large': 24px,
  'medium': 24px,
  'small': 16px,
);

$min: breakpoint-min('large');
$max: breakpoint-max('large');

@function breakpoint-min($size) {
  @if not map.has-key($columns, $size) {
    @error 'Invalid style specified! Choose one of #{map.keys($columns)}';
  }
  $min: map.get($breakpoints, $size);

  @return if($min > 0, $min, null);
}
@function breakpoint-max($size) {
  @if not map.has-key($columns, $size) {
    @error 'Invalid style specified! Choose one of #{map.keys($columns)}';
  }
  $names: map.keys($columns);
  $n: list.index($names, $size);
  $prev: if($n > 1, list.nth($names, $n - 1), null);

  @return if($prev, (breakpoint-min($prev) - 1px), null);
}

@mixin media-query_($size) {
  @if not map.has-key($columns, $size) {
    @error 'Invalid style specified! Choose one of #{map.keys($columns)}';
  }

  $min: breakpoint-min($size);
  $max: breakpoint-max($size);

  @if $min == null and $max != null {
    // small
    @media (max-width: $max) {
      :root {--device-size: #{$size};}
      @content;
    }
  } @else if $min != null and $max != null {
    // medium
    @media (min-width: $min) and (max-width: $max) {
      :root {--device-size: #{$size};}
      @content;
    }
  } @else if $min != null and $max == null {
    // large
    @media (min-width: $min) {
      :root {--device-size: #{$size};}
      @content;
    }
  } @else {
    // Fallback - no breakpoints defined
    @content;
  }
}

@each $size in map.keys($columns) {
  @include media-query_($size);
}
