@use 'sass:map';

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body,
#__nuxt,
#__layout {
  height: 100%;
  background-color: theme.$background;
  color: theme.$text-light;
}

a,
button {
  text-decoration: none;
  &:focus {
    outline: none;
  }
}

input,
textarea {
  border: none;
  outline: none;
}

.img-responsive {
  width: 100%;
  height: auto;
}

.display {
  @each $size in map.keys(layout.$breakpoints) {
    @include layout.media-query($size) {
      @include theme.typography-display($size);
    }
  }
}
.headline {
  @each $size in map.keys(layout.$breakpoints) {
    @include layout.media-query($size) {
      @include theme.typography-headline($size);
    }
  }
}
.title {
  @each $size in map.keys(layout.$breakpoints) {
    @include layout.media-query($size) {
      @include theme.typography-title($size);
    }
  }
}
.label {
  @each $size in map.keys(layout.$breakpoints) {
    @include layout.media-query($size) {
      @include theme.typography-label($size);
    }
  }
}
.body {
  @each $size in map.keys(layout.$breakpoints) {
    @include layout.media-query($size) {
      @include theme.typography-body($size);
    }
  }
}
.caption {
  @each $size in map.keys(layout.$breakpoints) {
    @include layout.media-query($size) {
      @include theme.typography-caption($size);
    }
  }
}
