@use 'sass:map';

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  min-height: 100%;
}

body {
  height: 100vh;
}

#__nuxt {
  color: theme.$on-background;
}

input,
textarea {
  border: none;
  outline: none;
}

a,
button {
  text-decoration: none;
  &:focus {
    outline: none;
  }
  &:visited {
    color: theme.$text-light;
  }
}

.img-responsive {
  width: 100%;
  height: auto;
}

@each $size in map.keys(layout.$breakpoints) {
  @include layout.media-query($size) {
    :root {
      --device-size: #{$size};
    }
    .display {
      @include theme.typography-display($size);
    }
    .headline {
      @include theme.typography-headline($size);
    }
    .title {
      @include theme.typography-title($size);
    }
    .label,
    .label > p {
      @include theme.typography-label($size);
    }
    .body {
      @include theme.typography-body($size);
    }
    .caption {
      @include theme.typography-caption($size);
    }
  }
}
