$text-dark: rgba(46, 52, 64, 1);
$text-light: rgba(236, 239, 244, 1);

$primary: rgba(94, 129, 172, 1);
$on-primary: $text-dark;

$secondary: rgba(143, 188, 187, 1);
$on-secondary: $text-dark;

$tertiary: rgba(180, 142, 173, 1);
$on-tertiary: $text-dark;

$background: rgba(46, 52, 64, 1);
$on-background: $text-light;

$surface: rgba(59, 66, 82, 1);
$on-surface: rgba(76, 86, 106, 1);

@function text-dark($alpha: 1) {
  @return rgba(46, 52, 64, $alpha);
}
@function text-light($alpha: 1) {
  @return rgba(236, 239, 244, $alpha);
}
@function primary($alpha: 1) {
  @return rgba(94, 129, 172, $alpha);
}
@function on-primary($alpha: 1) {
  @return text-dark($alpha);
}
@function secondary($alpha: 1) {
  @return rgba(143, 188, 187, $alpha);
}
@function on-secondary($alpha: 1) {
  @return text-dark($alpha);
}
@function tertiary($alpha: 1) {
  @return rgba(180, 142, 173, $alpha);
}
@function on-tertiary($alpha: 1) {
  @return text-dark($alpha);
}
@function background($alpha: 1) {
  @return rgba(46, 52, 64, $alpha);
}
@function on-background($alpha: 1) {
  @return text-light($alpha);
}
@function surface($alpha: 1) {
  @return rgba(59, 66, 82, $alpha);
}
@function on-surface($alpha: 1) {
  @return text-light($alpha);
}
