@use '_color' as color;
@use '_state' as state;
@use '../layout/breakpoints' as breakpoints;

@mixin bevel($color, $size) {
  background: $color; /*fallback*/
  background: linear-gradient(0deg, $color, $color),
    linear-gradient(135deg, transparent $size, $color $size),
    linear-gradient(180deg, $color, $color),
    linear-gradient(315deg, transparent $size, $color $size);
  background-position: bottom left, top left, top right, bottom right;
  background-size: 65% 65%;
  background-repeat: no-repeat;
}
