@use 'sass:map';


@mixin hover($color) {
  &:hover {
    cursor: pointer;
    color: $color;
    @content;
  }
}

@mixin pressed($color) {
  &:hover {
    cursor: pointer;
    color: $color;

    @content;
  }
}